alias docker='sudo --set-home docker'
alias g='pushd'

CAFFE_HOME=/opt/caffe
export CAFFE_HOME

PYTHONPATH=$CAFFE_HOME/python
export PYTHON_PATH

MKL_NUM_THREADS=7
MKL_DOMAIN_NUM_THREADS="MKL_DOMAIN_ALL=1, MKL_DOMAIN_BLAS=7"
MKL_DYNAMIC=FALSE
export MKL_NUM_THREADS MKL_DOMAIN_NUM_THREADS MKL_DYNAMIC
