:
CAFFE_HOME=/opt/caffe
export CAFFE_HOME

PYTHONPATH=$CAFFE_HOME/python
export PYTHONPATH

CUDA_ENABLED=
export -u CUDA_ENABLED

#CUDA_ENABLED=1
#export CUDA_ENABLED

MKL_NUM_THREADS=7
MKL_DOMAIN_NUM_THREADS="MKL_DOMAIN_ALL=1, MKL_DOMAIN_BLAS=7"
MKL_DYNAMIC=FALSE
export MKL_NUM_THREADS MKL_DOMAIN_NUM_THREADS MKL_DYNAMIC

alias docker='sudo -H docker'
alias g='pushd'
